body {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
    top: 25%;
}

.carousel-heading {
    font: size 65px;
    font-weight: bolder;
}

.our-btn {
    background-image: linear-gradient(tomato, red);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 13px 34px;
}